<!DOCTYPE html>
<html lang="en" ng-app="doughnutsApp">
<head>
  <meta charset="UTF-8">
  <title>ANGULAR DOUGHNUUUUUUUUUUTS</title>
  <script src="./js/angular.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/doughnutsController.js"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body ng-controller="DoughnutsController as nuts">
  <h1>{{ nuts.title }}</h1>
  <h2>LIST OF NUTS:</h2>
  <ul>
    <li ng-repeat="nut in nuts.all">
      <button ng-click="nuts.remove($index)">X</button>
      <strong>{{ nut.flavor }}</strong> {{ nut.style }}
    </li>
  </ul>
  <form ng-submit="nuts.add()">
    <div class="form-row"><input type="text"
                                 placeholder="Flavor"
                                 name="flavor"
                                 id="flavor"
                                 ng-model="nuts.newNut.flavor"
                                 autofocus></div>
    <div class="form-row"><input type="text"
                                 placeholder="Style"
                                 name="style"
                                 id="style"
                                 ng-model="nuts.newNut.style"></div>
    <div class="form-row"><input type="submit" value="CREATE DOUGHNUT"></div>
  </form>
</body>
</html>